
hw3/datasets/.DS_Store
hw3/datasets/cifar-10-batches-py/batches.meta
hw3/datasets/cifar-10-batches-py/data_batch_1
hw3/datasets/cifar-10-batches-py/data_batch_2
hw3/datasets/cifar-10-batches-py/data_batch_3
hw3/datasets/cifar-10-batches-py/data_batch_4
hw3/datasets/cifar-10-batches-py/data_batch_5
hw3/datasets/cifar-10-batches-py/readme.html
hw3/datasets/cifar-10-batches-py/test_batch
